body {
    background-color: rgb(135, 135, 255)
}
.counter {
    font-weight: 700;
    font-size: 25px;
    border: 3px solid #ffa900;
    width: 400px;
    height: 250px;
    text-align: center;
    margin: 10% auto;
    border-radius: 10px;
    padding-top: 25px;
    background-color: rgb(135, 135, 255);
}

.red_counter {
    color: red;
    font-weight: 700;
    font-size: 50px;
}

.default_counter {
    font-weight: 700;
    font-size: 50px;
    color: white;
}

.button {
    border: none;
    border-radius: 5px;
    font-size: 50px;
    color: black;
    transition: 1s ease-in-out;
}


.btn_container {
    margin-top: 40px;
    display: inline-flex;
    border: 3px solid #ffa900;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color: rgb(135, 135, 255);

}

.button.active {
   background-color: #94ef18;
    transform: translate(-2px, -2px);
}

.button.disabled {
    background-color: red;
    opacity: 0.5;
}

